{% extends 'base.html' %}

{% block title %}
    {{page_title}}
{% endblock title %}

{% block contents %}
    <form method="POST">
        {% csrf_token %}
        <table>
            {{akun_form.as_table}}
        </table>
        <button type="Submit">Kirim</button>
    </form>    
{% endblock contents %}