{% extends 'base.html' %}

{% block title %}
{{page_title}}
{% endblock title %}

{% block contents %}
<h1>{{page_title}}</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama</th>
      <th scope="col">Alamat</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>

    {% for akun in semua_guest  %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{akun.nama}}</td>
        <td>{{akun.alamat}}</td>
        <td>{{akun.email}}</td>
        <td><a class="btn btn-danger" href="{% url 'guestbook:delete' akun.id %}">Delete</a></td>
        <td><a class="btn btn-warning" href="{% url 'guestbook:update' akun.id %}">Update</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-primary"href="{% url 'guestbook:create' %}">Add</a>
{% endblock contents %}